.DS_Store
.turbo

node_modules

.env
.env.*

turtle.code-workspace
tsconfig.tsbuildinfo

dist
packages/**/node_modules
packages/**/dist
packages/**/tsconfig.tsbuildinfo
packages/**/.env
packages/registry/src/generated-env.ts

