# Provide your Sentry DSN to allow Sentry to capture errors in your application.
NEXT_PUBLIC_SENTRY_DSN=

# Provide your Sentry Auth Token.
SENTRY_AUTH_TOKEN=

# Provide your Sentry project name.
SENTRY_PROJECT=

# Provide your Sentry organization name.
SENTRY_ORG=

# Provide your WalletConnect project ID to allow access to WalletConnect Cloud.
NEXT_PUBLIC_WALLETCONNECT_PROJECT_ID=

# This will be set by Vercel automatically! If not hosted there, provide your hosting URL.
NEXT_PUBLIC_VERCEL_URL=

# Alchemy API Key. Used for an ethereum connection.
NEXT_PUBLIC_ALCHEMY_KEY=

# Subscan API Key. Used for polkadot tracking.
NEXT_PUBLIC_SUBSCAN_KEY=

# Dwellir API Key. Used for a polkadot connection.
NEXT_PUBLIC_DWELLIR_KEY=

# Inits the environment of the app. Change to 'testnet' if needed.
NEXT_PUBLIC_ENVIRONMENT='mainnet'

# Set firebase configuration for transaction logging.
NEXT_PUBLIC_FIREBASE_PROJECT_ID=
NEXT_PUBLIC_FIREBASE_TX_COLLECTION_ID=
