name: Playwright Tests
on:
  deployment_status:
jobs:
  test:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    if: github.event.deployment_status.state == 'success' && contains(github.event.deployment_status.environment, 'turtle-app')
    steps:
      - name: Dump GitHub context
        run: echo '${{ toJson(github) }}'
      - name: Check out Git repository
        uses: actions/checkout@v4

      - name: Install pnpm
        uses: pnpm/action-setup@v4
      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20.10.0
          cache: "pnpm"
      - name: Install dependencies
        run: pnpm i
      - name: Install Playwright browsers
        run: pnpm exec playwright install --with-deps
        working-directory: packages/e2e-tests
      - name: Run Playwright tests
        run: cd packages/e2e-tests && pnpm run e2e
        env:
          PLAYWRIGHT_TEST_BASE_URL: ${{ github.event.deployment_status.target_url }}
      - uses: actions/upload-artifact@v4
        if: ${{ !cancelled() }}
        with:
          name: playwright-report
          path: playwright-report/
          retention-days: 30
